aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "3.15"
aiohttp==3.13.3 ; python_version >= "3.12" and python_version < "3.15"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "3.15"
alembic==1.18.4 ; python_version >= "3.12" and python_version < "3.15"
altair==6.0.0 ; python_version >= "3.12" and python_version < "3.15"
annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "3.15"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.15"
antlr4-python3-runtime==4.13.2 ; python_version >= "3.12" and python_version < "3.15"
anyio==4.12.1 ; python_version >= "3.12" and python_version < "3.15"
attrs==25.4.0 ; python_version >= "3.12" and python_version < "3.15"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "3.15"
bcrypt==5.0.0 ; python_version >= "3.12" and python_version < "3.15"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "3.15"
build==1.4.0 ; python_version >= "3.12" and python_version < "3.15"
cachetools==6.2.6 ; python_version >= "3.12" and python_version < "3.15"
certifi==2026.2.25 ; python_version >= "3.12" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "3.15"
chromadb==1.5.1 ; python_version >= "3.12" and python_version < "3.15"
click==8.3.1 ; python_version >= "3.12" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.15" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
coloredlogs==14.0 ; python_version >= "3.12" and python_version < "3.15"
dagster-graphql==1.12.15 ; python_version >= "3.12" and python_version < "3.15"
dagster-pipes==1.12.15 ; python_version >= "3.12" and python_version < "3.15"
dagster-shared==1.12.15 ; python_version >= "3.12" and python_version < "3.15"
dagster-webserver==1.12.15 ; python_version >= "3.12" and python_version < "3.15"
dagster==1.12.15 ; python_version >= "3.12" and python_version < "3.15"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "3.15"
distro==1.9.0 ; python_version >= "3.12" and python_version < "3.15"
docstring-parser==0.17.0 ; python_version >= "3.12" and python_version < "3.15"
durationpy==0.10 ; python_version >= "3.12" and python_version < "3.15"
fastapi==0.131.0 ; python_version >= "3.12" and python_version < "3.15"
filelock==3.24.3 ; python_version >= "3.12" and python_version < "3.15"
flatbuffers==25.12.19 ; python_version >= "3.12" and python_version < "3.15"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "3.15"
fsspec==2026.2.0 ; python_version >= "3.12" and python_version < "3.15"
gitdb==4.0.12 ; python_version >= "3.12" and python_version < "3.15"
gitpython==3.1.46 ; python_version >= "3.12" and python_version < "3.15"
googleapis-common-protos==1.72.0 ; python_version >= "3.12" and python_version < "3.15"
gql==4.0.0 ; python_version >= "3.12" and python_version < "3.15"
graphene==3.4.3 ; python_version >= "3.12" and python_version < "3.15"
graphql-core==3.2.7 ; python_version >= "3.12" and python_version < "3.15"
graphql-relay==3.2.0 ; python_version >= "3.12" and python_version < "3.15"
greenlet==3.3.2 ; python_version >= "3.12" and python_version < "3.15" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio-health-checking==1.78.1 ; python_version >= "3.12" and python_version < "3.15"
grpcio==1.78.1 ; python_version >= "3.12" and python_version < "3.15"
h11==0.16.0 ; python_version >= "3.12" and python_version < "3.15"
hf-xet==1.3.1 ; python_version >= "3.12" and python_version < "3.15" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "3.15"
httptools==0.7.1 ; python_version >= "3.12" and python_version < "3.15"
httpx-sse==0.4.3 ; python_version >= "3.12" and python_version < "3.15"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "3.15"
huggingface-hub==0.36.2 ; python_version >= "3.12" and python_version < "3.15"
humanfriendly==10.0 ; python_version >= "3.12" and python_version < "3.15"
idna==3.11 ; python_version >= "3.12" and python_version < "3.15"
importlib-metadata==8.7.1 ; python_version >= "3.12" and python_version < "3.15"
importlib-resources==6.5.2 ; python_version >= "3.12" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.15"
jiter==0.13.0 ; python_version >= "3.12" and python_version < "3.15"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "3.15"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "3.15"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "3.15"
jsonschema==4.26.0 ; python_version >= "3.12" and python_version < "3.15"
kubernetes==35.0.0 ; python_version >= "3.12" and python_version < "3.15"
langchain-chroma==0.2.6 ; python_version >= "3.12" and python_version < "3.15"
langchain-classic==1.0.1 ; python_version >= "3.12" and python_version < "3.15"
langchain-community==0.4.1 ; python_version >= "3.12" and python_version < "3.15"
langchain-core==1.2.16 ; python_version >= "3.12" and python_version < "3.15"
langchain-openai==1.1.10 ; python_version >= "3.12" and python_version < "3.15"
langchain-text-splitters==1.1.1 ; python_version >= "3.12" and python_version < "3.15"
langchain==1.2.10 ; python_version >= "3.12" and python_version < "3.15"
langgraph-checkpoint==4.0.0 ; python_version >= "3.12" and python_version < "3.15"
langgraph-prebuilt==1.0.8 ; python_version >= "3.12" and python_version < "3.15"
langgraph-sdk==0.3.9 ; python_version >= "3.12" and python_version < "3.15"
langgraph==1.0.9 ; python_version >= "3.12" and python_version < "3.15"
langsmith==0.7.7 ; python_version >= "3.12" and python_version < "3.15"
mako==1.3.10 ; python_version >= "3.12" and python_version < "3.15"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.15"
marshmallow==3.26.2 ; python_version >= "3.12" and python_version < "3.15"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.15"
mmh3==5.2.0 ; python_version >= "3.12" and python_version < "3.15"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.15"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.15"
narwhals==2.17.0 ; python_version >= "3.12" and python_version < "3.15"
numpy==2.4.2 ; python_version >= "3.12" and python_version < "3.15"
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "3.15"
onnxruntime==1.24.2 ; python_version >= "3.12" and python_version < "3.15"
openai==2.24.0 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-api==1.39.1 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-exporter-otlp-proto-common==1.39.1 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-exporter-otlp-proto-grpc==1.39.1 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-proto==1.39.1 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-sdk==1.39.1 ; python_version >= "3.12" and python_version < "3.15"
opentelemetry-semantic-conventions==0.60b1 ; python_version >= "3.12" and python_version < "3.15"
orjson==3.11.7 ; python_version >= "3.12" and python_version < "3.15"
ormsgpack==1.12.2 ; python_version >= "3.12" and python_version < "3.15"
overrides==7.7.0 ; python_version >= "3.12" and python_version < "3.15"
packaging==26.0 ; python_version >= "3.12" and python_version < "3.15"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "3.15"
pathlib-abc==0.5.2 ; python_version >= "3.12" and python_version < "3.15"
pgvector==0.4.2 ; python_version >= "3.12" and python_version < "3.15"
pillow==12.1.1 ; python_version >= "3.12" and python_version < "3.15"
platformdirs==4.9.2 ; python_version >= "3.12" and python_version < "3.15"
posthog==5.4.0 ; python_version >= "3.12" and python_version < "3.15"
propcache==0.4.1 ; python_version >= "3.12" and python_version < "3.15"
protobuf==6.33.5 ; python_version >= "3.12" and python_version < "3.15"
psutil==7.2.2 ; python_version >= "3.12" and python_version < "3.15" and platform_system == "Windows"
psycopg2-binary==2.9.11 ; python_version >= "3.12" and python_version < "3.15"
pyarrow==23.0.1 ; python_version >= "3.12" and python_version < "3.15"
pybase64==1.4.3 ; python_version >= "3.12" and python_version < "3.15"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "3.15"
pydantic-settings==2.13.1 ; python_version >= "3.12" and python_version < "3.15"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "3.15"
pydeck==0.9.1 ; python_version >= "3.12" and python_version < "3.15"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.15"
pypika==0.51.1 ; python_version >= "3.12" and python_version < "3.15"
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_version < "3.15"
pyreadline3==3.5.4 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "win32"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.15"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "3.15"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.15"
pywin32==311 ; python_version >= "3.12" and python_version < "3.15" and platform_system == "Windows"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.15"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "3.15"
regex==2026.2.19 ; python_version >= "3.12" and python_version < "3.15"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.12" and python_version < "3.15"
rich==14.3.3 ; python_version >= "3.12" and python_version < "3.15"
rpds-py==0.30.0 ; python_version >= "3.12" and python_version < "3.15"
setuptools==81.0.0 ; python_version >= "3.12" and python_version < "3.15"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.15"
smmap==5.0.2 ; python_version >= "3.12" and python_version < "3.15"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.15"
sqlalchemy==2.0.47 ; python_version >= "3.12" and python_version < "3.15"
sqlmodel==0.0.37 ; python_version >= "3.12" and python_version < "3.15"
starlette==0.52.1 ; python_version >= "3.12" and python_version < "3.15"
streamlit==1.54.0 ; python_version >= "3.12" and python_version < "3.15"
structlog==25.5.0 ; python_version >= "3.12" and python_version < "3.15"
sympy==1.14.0 ; python_version >= "3.12" and python_version < "3.15"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "3.15"
tenacity==9.1.4 ; python_version >= "3.12" and python_version < "3.15"
tiktoken==0.12.0 ; python_version >= "3.12" and python_version < "3.15"
tokenizers==0.22.2 ; python_version >= "3.12" and python_version < "3.15"
toml==0.10.2 ; python_version >= "3.12" and python_version < "3.15"
tomli==2.4.0 ; python_version >= "3.12" and python_version < "3.15"
tomlkit==0.14.0 ; python_version >= "3.12" and python_version < "3.15"
toposort==1.10 ; python_version >= "3.12" and python_version < "3.15"
tornado==6.5.4 ; python_version >= "3.12" and python_version < "3.15"
tqdm==4.67.3 ; python_version >= "3.12" and python_version < "3.15"
typer==0.24.1 ; python_version >= "3.12" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.15"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "3.15"
tzdata==2025.3 ; python_version >= "3.12" and python_version < "3.15"
universal-pathlib==0.3.10 ; python_version >= "3.12" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "3.15"
uuid-utils==0.14.1 ; python_version >= "3.12" and python_version < "3.15"
uvicorn==0.41.0 ; python_version >= "3.12" and python_version < "3.15"
uvloop==0.22.1 ; python_version >= "3.12" and python_version < "3.15" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchdog==6.0.0 ; python_version >= "3.12" and python_version < "3.15"
watchfiles==1.1.1 ; python_version >= "3.12" and python_version < "3.15"
websocket-client==1.9.0 ; python_version >= "3.12" and python_version < "3.15"
websockets==16.0 ; python_version >= "3.12" and python_version < "3.15"
xxhash==3.6.0 ; python_version >= "3.12" and python_version < "3.15"
yarl==1.22.0 ; python_version >= "3.12" and python_version < "3.15"
zipp==3.23.0 ; python_version >= "3.12" and python_version < "3.15"
zstandard==0.25.0 ; python_version >= "3.12" and python_version < "3.15"
